@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
$mainFontColor: #754C29; //dark brown
$warmBrown: #935E23;
$hoverFontColor: #8A6545; //medium brown
$lightBrown: #C49A6C;
$lightBlue: #CACDE6;
$paleBlue: #E6E7E8;
$darkBlue: #515778;
$paleOrange: #E4CABB;
$tanOrange: #BF7E60;
$red: #A03E22;
$green: #4B7838;
$paleGreen: #8A9F74;
$paleYellow: #FFD795;
$yellow: #FEC053;

body {
    background: url("./circuit-beard.jpg");
    background-repeat: repeat;
    background-size: 1%;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
}
h3 {
    font-size: 1.25rem;
}
.row {
    display: flex;
}
ul, p {
    font-size: .75rem;
}
ul {
    display: flex;
    flex-direction: column;
    li {
        list-style-type: none;
        margin-left: .6rem;
        ul {
            margin-left: -1.5rem;
            li {
                position: relative;
                list-style-type: none;
                padding: .25rem;
                margin-bottom: .25rem;
                // &:hover {

                // }

            }
        }
    }
}
li {
    margin-left: 1rem;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    // @include media-breakpoint-up(lg) {
	// 	width: 992px;
	// }
}

.header-container {
    margin: 15px 0;
    justify-content: center;
    .row {
        display: flex;

    }
    .header-row {
        align-items: center;
    }
    .col {
        @include media-breakpoint-up(lg) {
            text-align: right;
        }
    }
    h2 {
        text-transform: none;
        color: $mainFontColor;
        text-align: right;
        margin-bottom: .25rem;
        padding-right: .25rem;
    }
    .contact-row {
        flex-direction: row;
        justify-content: flex-end;
        @include media-breakpoint-up(lg) {
            flex-direction: column;
        }

    }
    .contact-col {
        display: flex;
        width: auto;
        padding: .25rem;
        a {
            display: flex;
            font-size: .75rem;
        }
        @include media-breakpoint-up(lg) {
           flex-direction: column;
           text-align: right;
           flex: 1 0;
        }
    }

}

a {
    display: flex;
    color: $mainFontColor;
    text-decoration: none;
    justify-content: flex-end;
    &:hover {
        color: $hoverFontColor;
    }
}

.logo-col {
    a {
        justify-content: left;
    }
}

hr {
    margin: 1rem 0;
    color: #E6E7E8;
    border-top: 10px solid;
    opacity: 1;
    width: 100%;
}
.css-qh7kl5-MuiPaper-root {
    background-color: rgba(255, 255, 255, .5) !important;
}
.mail-icon, .phone-icon {
    height: 3rem;
    width: 3rem;
}
.mail-icon {
    margin-right: .25rem;
}
.phone-icon {
    padding: .125rem;
}
.pointer {
    cursor: pointer;
}
.education-bg {
    background: url("./ghost-logo.png");
    background-repeat: no-repeat;
    background-position: 90% 10%;
}
.li-data {
    &:hover .bullet-bill.engaged {
        animation: loader 5s
    }
    
}
@keyframes loader {
    5%{
        color: $red;
        scale: 2;
        translate: 0;
    }
    25%{
        color: $paleOrange;
        translate: 1050px;
        rotate: 0deg;
    }
    50% {
    color: $red;
      rotate: 90deg;
      translate: 1050px;
    }
    60% {
    color: $paleOrange;
      translate: 1050px;
      rotate: 180deg;
    }
    75% {
      translate: 0px;
      rotate: 180deg;
      scale: 2;
    }

    100%{
        translate: 0;
        rotate: 360deg;
    }
  }
.bullet-bill {
    position: absolute;
    left: -15px;
    font-size: 1rem;
    color: $mainFontColor;
}
.bullet-bill.engaged {
    left: -25px;
    font-size:1.5rem;
}

.bullet-bill-inner {
    position: relative;
    left: -15px;
    font-size: 1rem;
    color: $mainFontColor;
}
.card-links {
    &:hover .bullet-bill-inner {
        animation: inner 1s
    }
    
}
@keyframes inner {
    5%{
        color: $red;
        scale: 1;
        translate: 10px;
    }
    100%{
        translate: 0;
        rotate: 0;
    }
  }
.card-links {
    margin-top: .25rem;
    position: relative;
    &:hover {
        text-decoration: underline !important;
    }
}
.card-link + .card-link {
    margin-left: 0;
}
.tgsi-bg {
    border: 2px solid $mainFontColor;
    border-radius: .25rem;
    @include media-breakpoint-up(md) {
        background: url('/tgsinsurance-home.png');
        background-size: cover;
        background-position-x: 0;
        opacity: .75;
        &:hover {
            opacity: 1;
        }
    }

    .img-hide-lg {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}
.card {
    padding: 0;
    border: none;
}

.note {
    font-weight: 800;
    color: $red;
}
